.description {
    display: flex;
    background-image: url("../img/description-background@1x.png");
    background-repeat: no-repeat;
    min-height: 1260px;


    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        min-height: 850px;
        margin-top: 100px;
        margin-bottom: 100px;



    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: calc(50% - 30px);
        max-width: 564px;
        min-height: 299px;
        margin: 15px;
        border-left: solid 3px $blue;
        border-top: solid 3px $grey;
        border-right: solid 3px $grey;
        border-bottom: solid 3px $grey;
        background-color: $white;
    }

    &__card:hover {
        background-color: $blue;
        color: $white;

    }

    &__card-inside {
        max-width: 480px;
    }

    &__card p {
        font-family: "PT Mono";
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1200px;
        padding-bottom: 100px;
    }

    &__year-image {
        min-width: 200px;
        height: auto;
    }

    &__about p {
        font-family: "PT Mono";
    }

    &__button {
        min-width: 180px;
        min-height: 45px;
        border: solid 1px $blue;
        color: $blue;
        background-color: transparent;
        border-radius: 5px;
    }

    &__button:hover {
        color: $white;
        background-color: $blue;
    }

    &__button:active {
        color: $white;
        background-color: $dark-blue;
    }

    // @media (max-width: $only-desktop) {}

    // @media (max-width: $mobile-width) {}

    // @media (max-width: $small-mobile-width) {}
}