.footer {

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-content: space-between;
        min-width: 90%;
        max-height: 200px;
        padding-top: 50px;
        grid-template-areas:
            "logo about contacts phones"
            "social about contacts phones"
            "line line line line"
            "rights devices confidentiality developed-by";
    }

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-area: logo;
        width: 190px;
        height: 100px;
        padding-top: 20px;
    }

    &__logo h3 {
        margin-top: 0px;
        line-height: 0px;
        padding-top: 10px;
    }

    &__logo span {
        margin-top: 200px;
    }

    &__social {
        grid-area: social;
        width: 100px;
        height: 100px;

    }

    &__about {
        grid-area: about;
        width: 170px;
        height: 100px;
    }

    &__contacts {
        grid-area: contacts;
        width: 150px;
        height: 100px;
        padding-top: 40px;
    }

    &__phones {
        grid-area: phones;
        width: 300px;
        height: 100px;
    }

    &__line {
        grid-area: line;
        border-top: solid $grey 2px;
        width: 100%;
    }

    &__line2 {
        grid-area: line2;
        border-top: solid $grey 2px;
        width: 100%;
    }

    &__line3 {
        grid-area: line3;
        border-top: solid $grey 2px;
        width: 100%;
    }

    &__rights {
        grid-area: rights;
        width: 250px;
        height: 50px;
    }

    &__devices {
        grid-area: devices;
        width: 250px;
        height: 50px;
    }

    &__confidentiality {
        grid-area: confidentiality;
        width: 300px;
        height: 50px;
    }

    &__developed-by {
        grid-area: developed-by;
        width: 250px;
        height: 50px;
    }

    &__rights,
    &__devices,
    &__confidentiality,
    &__developed-by {
        width: 100%;
        height: 100%;
    }

    &__about ul,
    &__contacts ul,
    &__phones ul,
    &__rights li,
    &__devices li,
    &__confidentiality li,
    &__developed-by li {
        list-style: none;
        padding: 0;
        color: gray;
    }

    &__about a,
    &__contacts a,
    &__phones a,
    &__confidentiality a,
    &__developed-by a {
        color: gray;
    }

    &__fb,
    &__ok,
    &__vk {
        fill: $icons;
    }

    &__fb:hover,
    &__ok:hover,
    &__vk:hover {
        fill: $blue;
    }

    a:hover {
        color: $blue;
    }

    a:active {
        color: $dark-blue;
    }


    @media (max-width: $only-desktop) {

        &__top,
        &__bottom {
            min-width: 90%;
        }

        &__phones {
            width: 170px;
        }

        &__rights,
        &__devices,
        &__confidentiality,
        &__developed-by {
            width: 100%;
        }

        &__bottom-item {
            font-size: 14px;
        }
    }

    @media (max-width: $mobile-width) {
        &__grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 2px 1fr 1fr 2px 1fr;
            align-content: space-between;
            max-height: 200px;
            gap: 0px;
            padding-top: 50px;
            grid-template-areas:
                "logo devices social"
                "line line line"
                "about about phones"
                "contacts . ."
                "line2 line2 line2"
                "confidentiality confidentiality developed-by";
        }

        &__rights {
            display: none;
        }

        &__about {
            min-height: 120px;
        }

        &__logo {
            padding-left: 20px;
        }

        &__devices {
            border-top: none;
        }

        &__social {
            padding-left: 20px;
        }

        &__logo,
        &__devices,
        &__social {
            width: 100%;
            height: 100%;
            padding-top: 0;
        }

        &__confidentiality,
        &__developed-by {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: $mobile-low-width) {

        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: 60px 50px 50px 2px 150px 70px 2px 200px 2px 50px 50px;
            align-content: space-between;
            max-height: 1100px;
            gap: 0px;
            padding-top: 50px;
            grid-template-areas:
                "logo"
                "devices"
                "social"
                "line"
                "about"
                "contacts"
                "line2"
                "phones"
                "line3"
                "confidentiality"
                "developed-by";

        }

        &__logo,
        &__social {
            width: 190px;
            margin: auto;
            border-bottom: none;
        }

        &__about,
        &__phones {
            min-height: 200px;
            min-width: 250px;
        }

        &__contacts {
            height: 70px;
            margin-top: -20px;
            padding-top: 0;
        }

        &__confidentiality,
        &__developed-by {
            min-height: 100px;
        }

        &__social {
            padding-left: calc(50% - 40px);
        }

        &__devices,
        &__confidentiality,
        &__developed-by {
            max-width: 270px;
            height: 50px;
            padding-left: calc(50% - 110px);
            border-bottom: none;
        }
    }

    // @media (max-width: $small-mobile-width) {}

}