.header {
    background-color: $bg-color;
    background-image: url("../img/background@2x.png");
    background-repeat: no-repeat;
    min-height: 883px;

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 40px;
        min-width: 1411px;
        max-height: 52px;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 350px;
    }

    &__brain-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 190px;
    }

    &__text {
        text-align: start;
        line-height: 30%;
        color: $white;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 640px;
    }

    &__lines {
        border-top: solid 1px $white;
        border-bottom: solid 1px $white;
        width: 37px;
        height: 10px;
    }

    &__call {
        min-width: 180px;
        min-height: 45px;
        border: solid 1px $white;
        color: $white;
        background-color: transparent;
        border-radius: 5px;    
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        padding-top: 180px;
    }
    
    &__boards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 300px;

    }

    &__boards h1 {
        font-size: 80px;
        color: $white;
        display: flex;
        flex-direction: row;
    }

    &__boards span {
        color: $white;
    }

    &__consultation {
        min-width: 407px;
        min-height: 55px;
        color: $white;
        background-color: $blue;
        border: none;
        border-radius: 5px;
        align-self: center;
    }

    &__dash {
        width: 66px;
        height: 1px;
        border-top: solid 1px $white;
    }

    &__text-production span {
        font-family: "PT Mono";
        max-width: 450px;
    }

    &__text-production {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


}