.header {
    background-color: $bg-color;
    background-image: url("../img/background@2x.png");
    background-repeat: no-repeat;
    min-height: 883px;

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 40px;
        min-width: 1411px;
        max-height: 52px;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 350px;
    }

    &__brain-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 190px;
    }

    &__text {
        text-align: start;
        line-height: 30%;
        color: $white;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 640px;
    }

    &__lines {
        border-top: solid 1px $white;
        border-bottom: solid 1px $white;
        width: 37px;
        height: 10px;
    }

    &__call {
        min-width: 180px;
        min-height: 45px;
        border: solid 1px $white;
        color: $white;
        background-color: transparent;
        border-radius: 5px;
    }

    &__email:hover a,
    &__phone:hover a {
        color: $blue;
    }

    &__call:hover {
        background-color: $blue;
        color: $white;
    }

    &__call:active {
        background-color: $dark-blue;

    }

    &__consultation:hover {
        background-color: transparent;
        color: $white;
        border: solid 1px $white;
    }

    &__consultation:active {
        background-color: $dark-blue;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        padding-top: 180px;
    }

    &__boards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 300px;
    }

    &__boards h1 {
        font-size: 80px;
        color: $white;
        display: flex;
        flex-direction: row;
    }

    &__boards span {
        color: $white;
    }

    &__consultation {
        min-width: 407px;
        min-height: 55px;
        color: $white;
        background-color: $blue;
        border: none;
        border-radius: 5px;
        align-self: center;
    }

    &__dash {
        width: 66px;
        height: 1px;
        border-top: solid 1px $white;
    }

    &__text-production span {
        font-family: "PT Mono";
        max-width: 450px;
    }

    &__text-production {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: $only-desktop) {
        &__top {
            min-width: 80%;
        }

        &__logo {
            min-width: 250px;
        }

        &__info {
            padding-left: 20px;
            min-width: 450px;
        }

        &__boards {
            max-height: 400px;
            padding-left: 40px;
        }

        &__boards h1 {
            line-height: 80px;
        }

        &__text-production {
            margin-top: -40px;
            padding-bottom: 20px;
        }

    }

    @media (max-width: $mobile-width) {
        min-height: 950px;

        &__bottom {
            flex-direction: column-reverse;
            padding-top: 60px;
        }

        &__boards {
            margin-top: -60px;
        }

        &__email-text,
        &__phone-text,
        &__call {
            display: none;
        }

        &__logo {
            min-width: 80%;
        }

        &__info {
            padding-left: 40px;
            min-width: 20%;
        }

        &__envelope {
            width: 36px;
            height: 36px;
        }


    }

    @media (max-width: $mobile-low-width) {
        min-height: 800px;

        &__top {
            max-width: 80%;
            padding-top: 20px;
        } 
        &__logo {
            min-width: 60%;
        }

        &__brain-text {
            min-width: 20px;
        }


        &__text {
            display: none;
        }

        &__info {
            width: 80px;
            padding: 0;
        }

        &__consultation {
            min-width: 90%;
            margin: auto;
        }

        &__boards h1 {
            font-size: 36px;
            padding: 20px;
            line-height: 40px;
        }

        &__boards {
            padding: 20px;
        }


    }

    @media (max-width: $mobile-small-width) {}

}