.questions {
    background-image: url("../img/questions-background@1x.png");
    background-color: $blue;
    min-height: 670px;

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 400px;
        margin-left: 30%;
        margin-top: 100px;
    }

    &__header {
        font-size: 36px;
        color: $white;
    }

    &__text {
        font-family: "PT Mono";
        font-size: 16px;
        color: $white;
    }

    &__form input::placeholder,
    &__form textarea::placeholder {
        color: $white;
        font-family: "PT Mono";
        padding: 10px;
    }

    &__form-top {
        display: flex;
        justify-content: space-between;
    }

    &__form-name,
    &__form-phone {
        width: 45%;
        height: 50px;
        background: linear-gradient(to right, $blue-form, $blue-form);
        color: $white;
        border: none;
    }

    &__form-question {
        width: 100%;
        height: 154px;
        background: linear-gradient(to right, $blue-form, $blue-form);
        color: $white;
        border: none;
        margin-top: 40px;
    }

    &__form-name:focus,
    &__form-phone:focus,
    &__form-question {
        outline: none;

    }

    &__button-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__button-area {
        background: $blue;
    }

    &__form-button {
        background: transparent;
        border-radius: 5px;
        border: solid $white 1px;
        color: $white;
        width: 270px;
        height: 45px;
    }

    &__checkbox-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 250px;
        min-height: 30px;
    }

    &__form-button:active {
        background: $dark-blue;
        border: solid $dark-blue 1px;
    }

    &__form-button:hover {
        background: $white;
        color: $blue;
    }

    &__button-area p {
        color: $white;
        font-family: "PT Mono";
    }



    @media (max-width: $only-desktop) {
        background-image: none;

        &__right {
            margin-left: 0;
        }
    }

    @media (max-width: $mobile-low-width) {

        &__right {
            max-width: 80%;
        }

        &__header {
            line-height: 50px;
        }

        &__form-top,
        &__button-area {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            padding-top: 10px;
        }


        &__form-name,
        &__form-phone {
            width: 100%;
        }

    }



    // @media (max-width: $small-mobile-width) {}
}